*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
}

header{
    height: 40px;
    background-color: black;
    color: #fff;
}

.command,.row{
    justify-content: flex-end;
    padding-top: 3px;
    padding-right: 3px;
}

.command-header{
    width: 120px;
}

.command-header,.fa-expand{
    background-color: gray;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
}

.fa-table-cells{
    margin-right: 4px;
}

.fa-expand{
    margin-left: 10px;
    width: 25px;
}

main{
    height: calc(100vh - 110px);
    background-color: yellow;
}
footer{
    height: 70px;
    background-color: red;
}